* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-color: white;
  --gaps: 3px;
  --radius: 0.2rem;
  --no-border: none;
  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Arial, Helvetica, sans-serif; */
}

.search-bar {
  display: flex;
  justify-content: center;
}

.main-heading {
  font-family: var(--font);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

/* topic buttons */

#buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

/* btns after render */

.topic-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

#user-search {
  padding: 1px 2px;
  font-family: var(--font);
  font-size: inherit;
  line-height: inherit;
}

/* submit/trending buttons */

.btn-subm,
.trending,
.topic-btn {
  color: var(--btn-color);
  margin-right: var(--gaps);
  border-radius: var(--radius);
  border: var(--no-border);
  outline: var(--no-border);
  font-family: var(--font);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.topic-btn {
  color: black;
  margin: var(--gaps);
}

.btn-subm {
  background-color: #28a745;
  margin: 0 5px;
}

.trending {
  background-color: #dc3545;
}

.btn-subm:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.trending:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.trending:focus {
  background-color: #bd2130;
  border-color: #b21f2d;
  box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 50%);
}

.btn-subm:focus {
  background-color: #1e7e34;
  border-color: #1c7430;
  box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 50%);
}

/* devider of search and gifs section */
.divider {
  border-top: 1px solid lightgray;
  margin: 25px 0;
}

/* gifs wrapper after render */
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
}

.gif-box {
  margin-bottom: 1rem;
  display: inline-block;
  border: 1px solid black;
  height: auto;
  width: auto;
  margin: 10px;
}

.gif-box h6 {
  font-family: var(--font);
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 6px;
}

/** Media Query **/
@media screen and (max-width: 1200px) {
  #results {
    width: 90%;
  }
}
